:root {
    --color-text: #232550;
    --color-main: #9470DB;
    --font-large: "Open Sans";
    --font-min: "Nunito";
}

// Section One
.sectionone {
    position: relative;
    padding: 96 0;
    height: 700px;

    &__title {
        position: absolute;
        z-index: 1;

        h1 {
            width: 700px;
            font-size: 80px;
            font-family: var(--font-large);
            font-weight: 700;
            color: var(--color-text);
        }

        p {
            margin-top: 50px;
            max-width: 350px;
            font-size: 18px;
            font-family: var(--font-min);
            color: var(--color-text);
        }

    }

    &__button {
        margin-top: 50px;
        padding: 15px 25px;
        border: none;
        background: var(--color-main);
        color: white;
        border-radius: 25px;

        &:hover {
            background: #9a7cd5;
        }
    }

    &__image {
        position: absolute;
        right: 230px;
        top: 90px;

        img {
            width: 885px;
        }
    }
}

@media (max-width: 1199.98px) {
    .sectionone {
        position: unset;


        &__title {
            text-align: center;
            position: unset;

            h1 {
                width: 100%;
                font-size: 40px;
            }

            p {
                max-width: 100%;
            }

        }

        &__button {}

        &__image {
            position: unset;

            img {
                width: 100%;
                margin-bottom: 50px;
            }
        }
    }

}

// End Section One


//Section Two
.sectiontwo {

    &__body {
        padding: 50px;
        background: #F5E7F3;
        border-radius: 20px;

        h2 {
            font-family: var(--font-large);
            font-weight: 700;
            color: var(--color-text);
            font-size: 40px;
        }

        p {
            font-family: var(--font-min);
        }
    }


    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }
}

@media (max-width: 1199.98px) {
    .sectiontwo {

        &__body {
            margin-top: 15%;
        }

        &__image {
            img {
                width: 100%;
            }
        }

        &__content {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }

}

// End Section Two


// Section Three

.sectionthree {

    &__title {
        margin: 10% 0;

        h2 {
            color: var(--font-large);
            font-weight: 700;
            font-size: 40px;
            margin-bottom: 30px;
            color: var(--color-text);
        }

        p {
            max-width: 580px;
            margin-left: auto;
            margin-right: auto;
            font-family: var(--font-min);
            color: var(--color-text);
            margin-top: 40px;
            margin-bottom: 50px;
            font-size: 18px;

        }
    }

    &__body {
        .row {
            gap: 117px;
        }
    }


    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-bottom: 50px;

        &__bg {
            position: absolute;
            right: -10%;

            img {
                height: auto;
                max-width: 100%;
            }
        }

        &__image {
            position: relative;

            img {
                height: auto;
                max-width: 100%;
            }
        }

        &__content {
            position: relative;
            max-width: 220px;
            margin-left: 30px;

            h3 {
                font-family: var(--font-large);
                font-weight: 350;
                font-size: 25px;
                margin-bottom: 15px;
                margin-bottom: 30px;
            }

            P {
                font-style: italic;
                color: rgba(0, 0, 0, 0.384);
                font-family: var(--font-min);
            }
        }

        &__link {
            text-decoration: none;
            color: black;

            &:hover {
                color: var(--color-main);
            }
        }
    }
}

@media (max-width: 1199.98px) {
    .sectionthree {
        &__item {
            position: unset;
            display: flex;
            flex-direction: column;

            &__bg {
                position: unset;
                display: none;

                img {
                    height: auto;
                    max-width: 100%;
                }
            }

            &__image {
                img {
                    height: auto;
                    max-width: 100%;
                }
            }

        }

    }
}

// End Section Three


// Section Four
.sectionfour {
    margin-top: 20%;
    padding: 50px;
    background-color: var(--color-main);
    border-radius: 30px;

    &__title {
        text-align: center;
        margin: 80px;

        h2 {
            font-family: var(--font-large);
            font-weight: 750;
            font-size: 40px;
            color: white;
        }
    }
}

.sectionfour__swipper {
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        margin-top: 30px;
        padding-bottom: 20px;
    }


    &__content {

        .name {
            font-weight: 600;
        }

        .contact {
            color: var(--color-main);
        }

        .detail {
            max-width: 340px;
        }
    }
}

// End Section Four


// Swipper
.swiper {
    width: 70%;
    height: 100%;
    border-radius: 20px;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
}


//End Swipper